[tool.black]
line-length = 79
target-version = ["py36", "py37", "py38"]

[tool.poetry]
name = "monitorcontrol"
description = "Monitor controls using MCCS over DDC-CI."
version = "2.2.0"  # update --version command
authors = ["Alex M. <alexmgit@protonmail.com>"]
license = "MIT"
readme = "README.rst"
repository = "https://github.com/newAM/monitorcontrol"
documentation = "https://monitorcontrol.readthedocs.io/en/latest/"

[tool.poetry.dependencies]
python = "^3.6"
pyudev = { version = "^0.22.0", markers = "sys_platform != 'win32'" }

[tool.poetry.dev-dependencies]
black = { version = "20.8b1", allow-prereleases = true }
coveralls = "^2.0.0"
flake8-bugbear = "^20.1.4"
flake8 = "^3.8.3"
pep8-naming = "^0.11.1"
pytest-cov = "^2.10.0"
pytest = "^5.4.3"
sphinx = "^3.1.1"
sphinx-rtd-theme = "^0.5.0"
voluptuous = "^0.11.7"

[tool.poetry.scripts]
monitorcontrol = "monitorcontrol.__main__:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
